<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Booking Admin</title>

    <link href="~/css/core/Fonts.googleapis.com.css" rel="stylesheet" />
    <link href="~/css/core/icons/icomoon/styles.css" rel="stylesheet" />
    <link href="~/css/core/bootstrap.css" rel="stylesheet" />
    <link href="~/css/core/core.css" rel="stylesheet" />
    <link href="~/css/core/components.css" rel="stylesheet" />
    <link href="~/css/core/colors.css" rel="stylesheet" />
    <link href="~/css/core/style.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/core/app.js"></script>
</head>

<body class="navbar-bottom">
    @RenderBody()
</body>
</html>