<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
                <span>Hotel Admin Options</span>
            </div>

            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Hotels" asp-action="Index">
                            <i class="icon-home4">
                            </i> <span>Hotel</span>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomTypes" asp-action="Index">
                            <i class="icon-home4">
                            </i> <span>Room Types</span>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="Room" asp-action="Index">
                            <i class="icon-home4">
                            </i> <span>Rooms</span>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomAvailabilities" asp-action="Index">
                            <i class="icon-home4">
                            </i> <span>Room Availabilities</span>
                        </a>
                    </li>

                    <li>
                        <a class="nav-link text-dark" asp-area="" asp-controller="RoomPrices" asp-action="Index">
                            <i class="icon-home4">
                            </i> <span>Room Prices</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>