@model CBookingProject.WebAdmin.Models.RoomAvailabilityViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_ContentLayout.cshtml";
}

<h1>Create</h1>

<h4>Rooms</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            <partial name="_RoomAvailabilitiesForm" />

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
